.cardFooter {
  margin-left: 1rem;
}

.card {
  width: 23rem;
  margin: 2rem;
  cursor: pointer;
}

h1 {
  font-weight: 800;
}

.icons {
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.userIcon {
  margin-left: 1rem;
}
