.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listItem:hover .icon {
  color: white;
  font-weight: bold;
}

.listItem:hover {
  display: block;
  background-color: purple;
  color: white;
  font-weight: 700;
}
